doorbell_cam.json
[{"id":"fe35f33c25e57061","type":"tab","label":"Front Door","disabled":false,"info":"","env":[]},{"id":"2233d3b794343da8","type":"group","z":"fe35f33c25e57061","name":"Chime & Camera","style":{"label":true,"color":"#ffa000"},"nodes":["af9162e1ae6714ef","02013836c1d030fb","167861883d9d9300","98756550a39ee16f","8ba1bf8a10f26e89","414f62a9885b7348","ab4567c2c2ba1964","c0b8809bf27094ce","aa7608793d0f21f2","08c780e51ca31d34","b733039ed820cb5d","9e3d154e09d72148"],"x":9,"y":14,"w":852,"h":322},{"id":"64f30bdc4e3b6a88","type":"group","z":"fe35f33c25e57061","name":"Motion Activated Light","style":{"label":true,"color":"#ffa000"},"nodes":["e4c63a212f48802b","e16ac193022f62b6","b43a897a6dfc28d9","58c6d47355223038","e5d7a5df4cfb6a57","9cb83b55d88cc638"],"x":9,"y":359,"w":1127,"h":82},{"id":"af9162e1ae6714ef","type":"server-state-changed","z":"fe35f33c25e57061","d":true,"g":"2233d3b794343da8","name":"Button Press","server":"c93c35a4.892bf8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.doorbell_button","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":105,"y":275,"wires":[["08c780e51ca31d34","98756550a39ee16f","9e3d154e09d72148"],["167861883d9d9300"]]},{"id":"02013836c1d030fb","type":"api-call-service","z":"fe35f33c25e57061","g":"2233d3b794343da8","name":"Open Chime Relay","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.doorbell_chime_relay"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":505,"y":235,"wires":[[]]},{"id":"167861883d9d9300","type":"api-call-service","z":"fe35f33c25e57061","g":"2233d3b794343da8","name":"Close Chime Relay","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.doorbell_chime_relay"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":285,"y":295,"wires":[[]]},{"id":"98756550a39ee16f","type":"api-call-service","z":"fe35f33c25e57061","g":"2233d3b794343da8","name":"","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_pixel_7","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"message\": \"Someone rang the doorbell.\",\t   \"title\": \"Front Door\",\t   \"target\": \"platform specific\",\t   \"data\": {\"image\": $entities('camera.doorbell_cam_doorbell_camera_2').attributes.entity_picture}\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":305,"y":175,"wires":[["414f62a9885b7348"]]},{"id":"8ba1bf8a10f26e89","type":"api-call-service","z":"fe35f33c25e57061","g":"2233d3b794343da8","name":"","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"camera","service":"snapshot","areaId":[],"deviceId":[],"entityId":["camera.doorbell_cam_doorbell_camera_2"],"data":"{\"filename\": filename }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":745,"y":175,"wires":[[]]},{"id":"414f62a9885b7348","type":"moment","z":"fe35f33c25e57061","g":"2233d3b794343da8","name":"","topic":"","input":"","inputType":"date","inTz":"America/New_York","adjAmount":0,"adjType":"days","adjDir":"add","format":"[/media/doorbell/doorbell_]YYYYMMDD[_]HH[:]mm[.jpg]","locale":"en_US","output":"filename","outputType":"msg","outTz":"America/New_York","x":535,"y":175,"wires":[["ab4567c2c2ba1964","8ba1bf8a10f26e89"]]},{"id":"ab4567c2c2ba1964","type":"debug","z":"fe35f33c25e57061","g":"2233d3b794343da8","name":"debug 11","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","statusVal":"","statusType":"auto","x":695,"y":115,"wires":[]},{"id":"c0b8809bf27094ce","type":"inject","z":"fe35f33c25e57061","g":"2233d3b794343da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":695,"y":75,"wires":[["414f62a9885b7348"]]},{"id":"aa7608793d0f21f2","type":"api-call-service","z":"fe35f33c25e57061","g":"2233d3b794343da8","name":"Button LED Off","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.doorbell_button_led"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":415,"y":55,"wires":[[]]},{"id":"08c780e51ca31d34","type":"within-time-switch","z":"fe35f33c25e57061","g":"2233d3b794343da8","name":"","nameInt":"","positionConfig":"","startTime":"06:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"21:00","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":275,"y":235,"wires":[["02013836c1d030fb"],[]]},{"id":"b733039ed820cb5d","type":"api-call-service","z":"fe35f33c25e57061","g":"2233d3b794343da8","name":"Button LED On","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.doorbell_button_led"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":415,"y":115,"wires":[[]]},{"id":"9e3d154e09d72148","type":"api-current-state","z":"fe35f33c25e57061","g":"2233d3b794343da8","name":"LED ON?","server":"c93c35a4.892bf8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.doorbell_button_led","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":255,"y":75,"wires":[["aa7608793d0f21f2"],["b733039ed820cb5d"]]},{"id":"e4c63a212f48802b","type":"server-state-changed","z":"fe35f33c25e57061","g":"64f30bdc4e3b6a88","name":"Doorbell PIR","server":"c93c35a4.892bf8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.doorbell_pir","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":105,"y":400,"wires":[["e16ac193022f62b6"],[]]},{"id":"e16ac193022f62b6","type":"within-time-switch","z":"fe35f33c25e57061","g":"64f30bdc4e3b6a88","name":"Between Lights Out and Sunrise","nameInt":"","positionConfig":"","startTime":"23:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"sunriseEnd","endTimeType":"pdsTime","endOffset":"-30","endOffsetType":"num","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":325,"y":400,"wires":[["b43a897a6dfc28d9"],[]]},{"id":"b43a897a6dfc28d9","type":"api-call-service","z":"fe35f33c25e57061","g":"64f30bdc4e3b6a88","name":"Front Door Light ON","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.frontdoor_bulb"],"data":"{ \"brightness_pct\": 20 }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":575,"y":400,"wires":[["58c6d47355223038"]]},{"id":"58c6d47355223038","type":"ha-wait-until","z":"fe35f33c25e57061","g":"64f30bdc4e3b6a88","name":"","server":"c93c35a4.892bf8","version":2,"outputs":2,"entityId":"binary_sensor.doorbell_button","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"5","timeoutType":"num","timeoutUnits":"minutes","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":755,"y":400,"wires":[["9cb83b55d88cc638"],["e5d7a5df4cfb6a57"]]},{"id":"e5d7a5df4cfb6a57","type":"api-call-service","z":"fe35f33c25e57061","g":"64f30bdc4e3b6a88","name":"Front Door Light OFF","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.frontdoor_bulb"],"data":"{ \"brightness_pct\": 20 }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":400,"wires":[[]]},{"id":"9cb83b55d88cc638","type":"delay","z":"fe35f33c25e57061","g":"64f30bdc4e3b6a88","name":"","pauseType":"delay","timeout":"90","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":850,"y":400,"wires":[["e5d7a5df4cfb6a57"]],"l":false},{"id":"c93c35a4.892bf8","type":"server","name":"Home Assistant","addon":true}]