hue_tap_dial_zha.json
[{"id":"fcbece4ea95b1f8a","type":"tab","label":"Philips Hue Tap Dial Media Controller (ZHA)","disabled":false,"info":"","env":[]},{"id":"e907bc02ecf82ff1","type":"server-events","z":"fcbece4ea95b1f8a","name":"ZHA Event","server":"c93c35a4.892bf8","version":2,"eventType":"zha_event","exposeToHomeAssistant":false,"eventData":"","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"","x":100,"y":20,"wires":[["927792af775a21bf"]]},{"id":"927792af775a21bf","type":"switch","z":"fcbece4ea95b1f8a","name":"Dial or Button","property":"payload.event.device_id","propertyType":"msg","rules":[{"t":"eq","v":"e43aa6d59f713a647aa52b9f559cbdb2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":20,"wires":[["cd733f744feb6ba4","e8648b74b8d4d154","34a0918ad68cfe5e"]]},{"id":"cd733f744feb6ba4","type":"switch","z":"fcbece4ea95b1f8a","name":"Which Button?","property":"payload.event.params.scene_id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":120,"y":340,"wires":[["f8535f35662ab379"],["b02a9b1e8237bcb8"],["13657461ade0f160"],["aa7158c81455e78c"]]},{"id":"16197d8bfcf6dd95","type":"switch","z":"fcbece4ea95b1f8a","name":"Dial Up or Down?","property":"payload.event.params.step_mode","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":140,"wires":[["77ba69d645f5f74d"],["c32cf7e95a39e253"]]},{"id":"f8535f35662ab379","type":"api-call-service","z":"fcbece4ea95b1f8a","name":"Play/Pause","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"media_player","service":"media_play_pause","areaId":[],"deviceId":[],"entityId":["media_player.lr_pro"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":290,"y":260,"wires":[[]]},{"id":"e8648b74b8d4d154","type":"debug","z":"fcbece4ea95b1f8a","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":20,"wires":[]},{"id":"13657461ade0f160","type":"api-call-service","z":"fcbece4ea95b1f8a","name":"Previous Track","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"media_player","service":"media_previous_track","areaId":[],"deviceId":[],"entityId":["media_player.lr_pro"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":300,"y":380,"wires":[[]]},{"id":"aa7158c81455e78c","type":"api-call-service","z":"fcbece4ea95b1f8a","name":"Next Track","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"media_player","service":"media_next_track","areaId":[],"deviceId":[],"entityId":["media_player.lr_pro"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":290,"y":440,"wires":[[]]},{"id":"b02a9b1e8237bcb8","type":"api-call-service","z":"fcbece4ea95b1f8a","name":"Mute/Unmute","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_mute","areaId":[],"deviceId":[],"entityId":["media_player.lr_pro"],"data":"{ \"is_volume_muted\": $entities(\"media_player.lr_pro\").attributes.is_volume_muted = true ? false : true }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":290,"y":320,"wires":[[]]},{"id":"77ba69d645f5f74d","type":"api-call-service","z":"fcbece4ea95b1f8a","name":"Volume Up","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.lr_pro"],"data":"{ \"volume_level\": $number($entities(\"media_player.lr_pro\").attributes.volume_level) + payload.event.params.step_size * 0.04 / 8 <= 1 ? $number($entities(\"media_player.lr_pro\").attributes.volume_level) + payload.event.params.step_size * 0.04 / 8 : 1  }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":310,"y":100,"wires":[[]]},{"id":"c32cf7e95a39e253","type":"api-call-service","z":"fcbece4ea95b1f8a","name":"Volume Down","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.lr_pro"],"data":"{ \"volume_level\": $number($entities(\"media_player.lr_pro\").attributes.volume_level) - payload.event.params.step_size * 0.04 / 8 >= 0.01 ? $number($entities(\"media_player.lr_pro\").attributes.volume_level) - payload.event.params.step_size * 0.04 / 8 : 0.01  }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":180,"wires":[[]]},{"id":"34a0918ad68cfe5e","type":"switch","z":"fcbece4ea95b1f8a","name":"Reject Holds","property":"payload.event.params.transition_time","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":110,"y":100,"wires":[["16197d8bfcf6dd95"]]},{"id":"c93c35a4.892bf8","type":"server","name":"Home Assistant","addon":true}]