hue_tap_dial_z2m.json
[{"id":"1cad208a66f571e1","type":"tab","label":"Hue Tap Dial Media Controller","disabled":false,"info":"","env":[]},{"id":"376048b139c242cd","type":"debug","z":"1cad208a66f571e1","name":"Button","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.action","targetType":"msg","statusVal":"","statusType":"auto","x":1025,"y":75,"wires":[]},{"id":"28c0638f681a0ca2","type":"switch","z":"1cad208a66f571e1","name":"Ignore Null State","property":"payload.action","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":825,"y":55,"wires":[["376048b139c242cd","8dcc9053b5a9cc82"]]},{"id":"3608d3b8963702a3","type":"switch","z":"1cad208a66f571e1","name":"Which Button?","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"button_1_press_release","vt":"str"},{"t":"eq","v":"button_2_press_release","vt":"str"},{"t":"eq","v":"button_3_press_release","vt":"str"},{"t":"eq","v":"button_4_press_release","vt":"str"},{"t":"eq","v":"button_1_hold_release","vt":"str"},{"t":"eq","v":"button_2_hold_release","vt":"str"},{"t":"eq","v":"button_3_hold_release","vt":"str"},{"t":"eq","v":"button_4_hold_release","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":130,"y":500,"wires":[["48294a4567d54253"],["7502b37a340b5875"],["38cd2bec53bb8099"],["8ce597a80a62dbe2"],["1f272e38d3b93186"],["0de26be4ff6ce23b"],["e0305b2d4d1ece36"],["361e6b88edcde7d8"]]},{"id":"48294a4567d54253","type":"api-call-service","z":"1cad208a66f571e1","name":"Play/Pause","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"media_player","service":"media_play_pause","areaId":[],"deviceId":[],"entityId":["media_player.lr_pro"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":330,"wires":[[]]},{"id":"7502b37a340b5875","type":"api-call-service","z":"1cad208a66f571e1","name":"Toggle Mute","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_mute","areaId":[],"deviceId":[],"entityId":["media_player.lr_pro"],"data":"{ \"is_volume_muted\": $entities(\"media_player.lr_pro\").attributes.is_volume_muted = true ? false : true }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":390,"wires":[[]]},{"id":"38cd2bec53bb8099","type":"api-call-service","z":"1cad208a66f571e1","name":"Previous Track","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"media_player","service":"media_previous_track","areaId":[],"deviceId":[],"entityId":["media_player.lr_pro"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":350,"y":450,"wires":[[]]},{"id":"8ce597a80a62dbe2","type":"api-call-service","z":"1cad208a66f571e1","name":"Next Track","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"media_player","service":"media_next_track","areaId":[],"deviceId":[],"entityId":["media_player.lr_pro"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":510,"wires":[[]]},{"id":"1f272e38d3b93186","type":"api-call-service","z":"1cad208a66f571e1","name":"Preset 1","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"wiim_custom","service":"preset","areaId":[],"deviceId":[],"entityId":["media_player.lr_pro"],"data":"{\"preset\":1}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":325,"y":580,"wires":[[]]},{"id":"0de26be4ff6ce23b","type":"api-call-service","z":"1cad208a66f571e1","name":"Preset 2","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"wiim_custom","service":"preset","areaId":[],"deviceId":[],"entityId":["media_player.lr_pro"],"data":"{ \"preset\": 2 }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":325,"y":640,"wires":[[]]},{"id":"e0305b2d4d1ece36","type":"api-call-service","z":"1cad208a66f571e1","name":"Preset 11","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"wiim_custom","service":"preset","areaId":[],"deviceId":[],"entityId":["media_player.lr_pro"],"data":"{ \"preset\": 11 }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":325,"y":700,"wires":[[]]},{"id":"361e6b88edcde7d8","type":"api-call-service","z":"1cad208a66f571e1","name":"Preset 12","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"wiim_custom","service":"preset","areaId":[],"deviceId":[],"entityId":["media_player.lr_pro"],"data":"{ \"preset\": 12 }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":325,"y":760,"wires":[[]]},{"id":"d660be4f3ff7f9d3","type":"mqtt in","z":"1cad208a66f571e1","name":"Listen for Tap Dial","topic":"zigbee2mqtt/hue_tap_dial","qos":"2","datatype":"auto-detect","broker":"7a18014faaa2f27f","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":60,"wires":[["0c6801bcfaa2cf57","3608d3b8963702a3","1f07907ce235af27"]]},{"id":"0c6801bcfaa2cf57","type":"range","z":"1cad208a66f571e1","d":true,"minin":"0","maxin":"255","minout":"0","maxout":"1","action":"scale","round":false,"property":"payload.brightness","name":"8-Bit to Decimal","x":340,"y":60,"wires":[["c12166c08e4188f7","28c0638f681a0ca2"]]},{"id":"c12166c08e4188f7","type":"api-call-service","z":"1cad208a66f571e1","name":"Volume Adjustment","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.lr_pro"],"data":"{ \"volume_level\": $number(payload.brightness) }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":60,"wires":[[]]},{"id":"8dcc9053b5a9cc82","type":"debug","z":"1cad208a66f571e1","name":"Volume","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.brightness","targetType":"msg","statusVal":"","statusType":"auto","x":1035,"y":35,"wires":[]},{"id":"4606d96516dc2a24","type":"api-call-service","z":"1cad208a66f571e1","name":"Volume Down Small","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.lr_pro"],"data":"{ \"volume_level\": $number($entities(\"media_player.lr_pro\").attributes.volume_level) - 0.06 >= 0.01 ? $number($entities(\"media_player.lr_pro\").attributes.volume_level) - 0.06 : 0.01  }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":425,"wires":[[]]},{"id":"f50a459e8ab6f96b","type":"switch","z":"1cad208a66f571e1","name":"Volume Down Sm/Med/Lg","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"dial_rotate_left_fast","vt":"str"},{"t":"eq","v":"dial_rotate_left_slow","vt":"str"},{"t":"eq","v":"dial_rotate_left_step","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":590,"y":365,"wires":[["e27b81af334d24c0"],["7fd5f9a3e6fa690a"],["4606d96516dc2a24"]]},{"id":"1f07907ce235af27","type":"switch","z":"1cad208a66f571e1","name":"Dial Right Or Left?","property":"payload.action","propertyType":"msg","rules":[{"t":"cont","v":"dial_rotate_right","vt":"str"},{"t":"cont","v":"dial_rotate_left","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":265,"wires":[["bd9deb24846fb445"],["f50a459e8ab6f96b"]]},{"id":"e27b81af334d24c0","type":"api-call-service","z":"1cad208a66f571e1","name":"Volume Down Large","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.lr_pro"],"data":"{ \"volume_level\": $number($entities(\"media_player.lr_pro\").attributes.volume_level) - 0.2 >= 0.01 ? $number($entities(\"media_player.lr_pro\").attributes.volume_level) - 0.2 : 0.01  }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":305,"wires":[[]]},{"id":"7fd5f9a3e6fa690a","type":"api-call-service","z":"1cad208a66f571e1","name":"Volume Down Medium","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.lr_pro"],"data":"{ \"volume_level\": $number($entities(\"media_player.lr_pro\").attributes.volume_level) - 0.1 >= 0.01 ? $number($entities(\"media_player.lr_pro\").attributes.volume_level) - 0.1 : 0.01  }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":365,"wires":[[]]},{"id":"bd9deb24846fb445","type":"switch","z":"1cad208a66f571e1","name":"Volume Up Sm/Med/Lg","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"dial_rotate_right_fast","vt":"str"},{"t":"eq","v":"dial_rotate_right_slow","vt":"str"},{"t":"eq","v":"dial_rotate_right_step","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":580,"y":185,"wires":[["0f83c7b3f35e2b2f"],["58d714a0a5318935"],["f4356d1ad9045fa1"]]},{"id":"0f83c7b3f35e2b2f","type":"api-call-service","z":"1cad208a66f571e1","name":"Volume Up Large","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.lr_pro"],"data":"{ \"volume_level\": $number($entities(\"media_player.lr_pro\").attributes.volume_level) + 0.2 <= 1 ? $number($entities(\"media_player.lr_pro\").attributes.volume_level) + 0.2 : 1  }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":125,"wires":[[]]},{"id":"58d714a0a5318935","type":"api-call-service","z":"1cad208a66f571e1","name":"Volume Up Medium","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.lr_pro"],"data":"{ \"volume_level\": $number($entities(\"media_player.lr_pro\").attributes.volume_level) + 0.1 <= 1 ? $number($entities(\"media_player.lr_pro\").attributes.volume_level) + 0.1 : 1  }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":185,"wires":[[]]},{"id":"f4356d1ad9045fa1","type":"api-call-service","z":"1cad208a66f571e1","name":"Volume Up Small","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.lr_pro"],"data":"{ \"volume_level\": $number($entities(\"media_player.lr_pro\").attributes.volume_level) + 0.06 <= 1 ? $number($entities(\"media_player.lr_pro\").attributes.volume_level) + 0.06 : 1  }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":245,"wires":[[]]},{"id":"c93c35a4.892bf8","type":"server","name":"Home Assistant","addon":true},{"id":"7a18014faaa2f27f","type":"mqtt-broker","name":"","broker":"192.168.0.222","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]