lights_switches.json
[{"id":"f07e53eac22bb89f","type":"tab","label":"Lights & Switches","disabled":false,"info":"","env":[]},{"id":"3279acbae8e510fe","type":"group","z":"f07e53eac22bb89f","name":"Living Room/Hallway/Front Door Routine","style":{"label":true,"color":"#ffA000"},"nodes":["e98090a18ad467d7","c5202cb2b6f96cd0","901fea09512581f0","5c0267a2075f83ef","0379f3615863bc93","4f2323c3aa77fecd","b8b5ab7cbb71cbec","f84065e2f6ee69d6","09eaad4e8d73e382","472e81d7dd760d95","36eb402b1446b485","b159d8acb892d66d","cc30c486a7d541e0","7ef0a0c057882387","9138ae607a70c141"],"x":14,"y":379,"w":1012,"h":282},{"id":"8fe2af1487fef570","type":"group","z":"f07e53eac22bb89f","name":"Bedroom Lights","style":{"label":true,"color":"#ffA000"},"nodes":["42304fac6d16875c","6535fb508357804a","6f72b655d403d4b2","ef9dd77ec9770eec","f1d7e326c75d3c58","1a5a944f3638d5b4","f86cac4e759d17b2","3873afa23b5ed69e","17314068a63d5cd4","da9f64a50d493d88","5926f9e4e857a83a","0a6bf670cf2f2b08","c851e37b859383c1","b72fa3cb1146557d","57b1b34666575dc9","6cd1fb1086766c92","3b94a1150e5ddbf9","7398f1d236060589"],"x":14,"y":19,"w":962,"h":349.5},{"id":"e98090a18ad467d7","type":"eztimer","z":"f07e53eac22bb89f","g":"3279acbae8e510fe","name":"","debug":false,"autoname":"sunset - 23:00:00","tag":"eztimer","topic":"","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"manual","latLongHaZone":"zone.home","lat":"38.2912","lon":"-76.6358","timerType":"1","startupMessage":true,"ontype":"1","ontimesun":"sunset","ontimetod":"17:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"num","onvalue":1,"onoffset":"-30","onrandomoffset":0,"onsuppressrepeats":true,"offtype":"2","offtimesun":"dusk","offtimetod":"23:00:00","offduration":"00:01:00","offpropertytype":"msg","offproperty":"payload","offvaluetype":"num","offvalue":0,"offoffset":0,"offrandomoffset":0,"offsuppressrepeats":true,"resend":false,"resendInterval":"0s","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":130,"y":460,"wires":[["c5202cb2b6f96cd0"]]},{"id":"c5202cb2b6f96cd0","type":"switch","z":"f07e53eac22bb89f","g":"3279acbae8e510fe","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":460,"wires":[["901fea09512581f0"],["4f2323c3aa77fecd","09eaad4e8d73e382"]]},{"id":"901fea09512581f0","type":"api-call-service","z":"f07e53eac22bb89f","g":"3279acbae8e510fe","name":"Livingroom & Front Door ON","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.frontdoor_bulb","light.livingroom_lights"],"data":"{ \"brightness_pct\": 60 }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":420,"wires":[["5c0267a2075f83ef"]]},{"id":"5c0267a2075f83ef","type":"api-call-service","z":"f07e53eac22bb89f","g":"3279acbae8e510fe","name":"Hallway ON","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.hallway_bulb"],"data":"{ \"brightness_pct\": 40 }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":420,"wires":[["0379f3615863bc93"]]},{"id":"0379f3615863bc93","type":"api-call-service","z":"f07e53eac22bb89f","g":"3279acbae8e510fe","name":"Doorbell LED ON","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.doorbell_button_led"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":420,"wires":[[]]},{"id":"4f2323c3aa77fecd","type":"api-call-service","z":"f07e53eac22bb89f","g":"3279acbae8e510fe","name":"Livingroom 2 & Front Door OFF","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.frontdoor_bulb","light.livingroom_bulb2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":510,"y":480,"wires":[["b8b5ab7cbb71cbec"]]},{"id":"b8b5ab7cbb71cbec","type":"api-call-service","z":"f07e53eac22bb89f","g":"3279acbae8e510fe","name":"PC OFF","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.pc"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":480,"wires":[["f84065e2f6ee69d6"]]},{"id":"f84065e2f6ee69d6","type":"api-call-service","z":"f07e53eac22bb89f","g":"3279acbae8e510fe","name":"Doorbell LED OFF","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.doorbell_button_led"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":480,"wires":[[]]},{"id":"09eaad4e8d73e382","type":"api-current-state","z":"f07e53eac22bb89f","g":"3279acbae8e510fe","name":"Phone Charging","server":"c93c35a4.892bf8","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pixel_7_is_charging","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":460,"y":540,"wires":[["472e81d7dd760d95","36eb402b1446b485"],[]]},{"id":"472e81d7dd760d95","type":"api-call-service","z":"f07e53eac22bb89f","g":"3279acbae8e510fe","name":"Living Room 1 DIM","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.livingroom_bulb1"],"data":"{ \"brightness_pct\": 25 }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":540,"wires":[[]]},{"id":"36eb402b1446b485","type":"api-call-service","z":"f07e53eac22bb89f","g":"3279acbae8e510fe","name":"Hallway DIM","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.hallway_bulb"],"data":"{ \"brightness_pct\": 5 }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":830,"y":540,"wires":[[]]},{"id":"b159d8acb892d66d","type":"within-time-switch","z":"f07e53eac22bb89f","g":"3279acbae8e510fe","name":"Nightime","nameInt":"","positionConfig":"","startTime":"21:30","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"sunriseStart","endTimeType":"pdsTime","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":300,"y":620,"wires":[["cc30c486a7d541e0","7ef0a0c057882387"],[]]},{"id":"cc30c486a7d541e0","type":"api-call-service","z":"f07e53eac22bb89f","g":"3279acbae8e510fe","name":"All Lights OFF","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bedroom_bulb","light.frontdoor_bulb","light.hallway_bulb","light.livingroom_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":620,"wires":[[]]},{"id":"7ef0a0c057882387","type":"api-call-service","z":"f07e53eac22bb89f","g":"3279acbae8e510fe","name":"","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_pixel_7","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"message\": \"command_ringer_mode\",\t   \"data\": {\t   \"command\": \"vibrate\"\t            }\t        }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":620,"wires":[[]]},{"id":"42304fac6d16875c","type":"server-state-changed","z":"f07e53eac22bb89f","g":"8fe2af1487fef570","name":"Bedroom Button Press","server":"c93c35a4.892bf8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.bedroom_switch_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"single","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":160,"wires":[["ef9dd77ec9770eec"],["6535fb508357804a"]]},{"id":"6535fb508357804a","type":"switch","z":"f07e53eac22bb89f","g":"8fe2af1487fef570","name":"Double or Long?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":220,"wires":[[],[]]},{"id":"6f72b655d403d4b2","type":"api-call-service","z":"f07e53eac22bb89f","g":"8fe2af1487fef570","name":"Bedroom Light Toggle Bright","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.bedroom_bulb"],"data":"{ \"brightness_pct\": 45 }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":120,"wires":[[]]},{"id":"ef9dd77ec9770eec","type":"within-time-switch","z":"f07e53eac22bb89f","g":"8fe2af1487fef570","name":"Nightime","nameInt":"","positionConfig":"","startTime":"23:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"sunriseStart","endTimeType":"pdsTime","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":320,"y":100,"wires":[["f1d7e326c75d3c58"],["6f72b655d403d4b2"]]},{"id":"f1d7e326c75d3c58","type":"api-call-service","z":"f07e53eac22bb89f","g":"8fe2af1487fef570","name":"Bedroom Light Toggle Dim","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.bedroom_bulb"],"data":"{\"brightness_pct\": 5 }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":60,"wires":[[]]},{"id":"1a5a944f3638d5b4","type":"server-state-changed","z":"f07e53eac22bb89f","g":"8fe2af1487fef570","name":"Bedroom Motion","server":"c93c35a4.892bf8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bedroom_motion_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":320,"wires":[["f86cac4e759d17b2"],[]],"info":"When bedroom motion is detected:\r\n 1. Check if phone is charging wirelessly\r\n 2. Check if it's nighttime\r\nIf 1. and 2. are true:\r\n 1. Increment counter from 0 to 1\r\n 2. Turn on the hallway light (5% brightness)\r\n\r\n On next detection:\r\n 1. Check if phone is charging wirelessly\r\n 2. Check if it's nighttime\r\nIf 1. and 2. are true:\r\n 1. Increment counter from 1 to 2\r\n 2. Wait 10s\r\n 3. Turn off the hallway light\r\n 4. Wait 30s to deflect motion\r\n 5. Reset the counter"},{"id":"f86cac4e759d17b2","type":"api-current-state","z":"f07e53eac22bb89f","g":"8fe2af1487fef570","name":"Wirelessly","server":"c93c35a4.892bf8","version":3,"outputs":2,"halt_if":"wireless","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pixel_7_charger_type","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":320,"wires":[["3873afa23b5ed69e"],[]]},{"id":"3873afa23b5ed69e","type":"within-time-switch","z":"f07e53eac22bb89f","g":"8fe2af1487fef570","name":"Nightime","nameInt":"","positionConfig":"","startTime":"21:30","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"sunriseStart","endTimeType":"pdsTime","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":440,"y":320,"wires":[["0a6bf670cf2f2b08"],[]]},{"id":"0a6bf670cf2f2b08","type":"counter","z":"f07e53eac22bb89f","g":"8fe2af1487fef570","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":545,"y":320,"wires":[["5926f9e4e857a83a","57b1b34666575dc9"]],"l":false},{"id":"5926f9e4e857a83a","type":"switch","z":"f07e53eac22bb89f","g":"8fe2af1487fef570","name":"","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":595,"y":320,"wires":[["17314068a63d5cd4"],["c851e37b859383c1"],[]],"l":false},{"id":"17314068a63d5cd4","type":"api-call-service","z":"f07e53eac22bb89f","g":"8fe2af1487fef570","name":"Hallway Light ON","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.hallway_bulb"],"data":"{ \"brightness_pct\": 5 }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":200,"wires":[["3b94a1150e5ddbf9"]]},{"id":"da9f64a50d493d88","type":"api-call-service","z":"f07e53eac22bb89f","g":"8fe2af1487fef570","name":"Hallway Light OFF","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.hallway_bulb"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":260,"wires":[["6cd1fb1086766c92"]]},{"id":"c851e37b859383c1","type":"delay","z":"f07e53eac22bb89f","g":"8fe2af1487fef570","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":655,"y":260,"wires":[["da9f64a50d493d88"]],"l":false},{"id":"b72fa3cb1146557d","type":"change","z":"f07e53eac22bb89f","g":"8fe2af1487fef570","name":"Ignore Motion 30s","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":320,"wires":[["0a6bf670cf2f2b08"]]},{"id":"57b1b34666575dc9","type":"debug","z":"f07e53eac22bb89f","g":"8fe2af1487fef570","name":"Count","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":260,"wires":[]},{"id":"6cd1fb1086766c92","type":"delay","z":"f07e53eac22bb89f","g":"8fe2af1487fef570","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":655,"y":320,"wires":[["b72fa3cb1146557d"]],"l":false},{"id":"3b94a1150e5ddbf9","type":"delay","z":"f07e53eac22bb89f","g":"8fe2af1487fef570","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":885,"y":200,"wires":[["7398f1d236060589"]],"l":false},{"id":"7398f1d236060589","type":"api-call-service","z":"f07e53eac22bb89f","g":"8fe2af1487fef570","name":"Hallway Light OFF","server":"c93c35a4.892bf8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.hallway_bulb"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":935,"y":200,"wires":[[]],"l":false},{"id":"9138ae607a70c141","type":"server-state-changed","z":"f07e53eac22bb89f","g":"3279acbae8e510fe","name":"Wireless Charging","server":"c93c35a4.892bf8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.pixel_7_charger_type","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"wireless","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":620,"wires":[["b159d8acb892d66d"],[]]},{"id":"129d44defc387542","type":"mqtt in","z":"f07e53eac22bb89f","name":"","topic":"zigbee2mqtt/hue_tap_dial","qos":"2","datatype":"auto-detect","broker":"7a18014faaa2f27f","nl":false,"rap":true,"rh":0,"inputs":0,"x":1130,"y":40,"wires":[[]]},{"id":"c93c35a4.892bf8","type":"server","name":"Home Assistant","addon":true},{"id":"7a18014faaa2f27f","type":"mqtt-broker","name":"","broker":"192.168.0.222","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]